body {
    margin: 0;
    background: black; 
    height: 100%;
    overflow: hidden;

  }

  #sidebar {
    height: 100%;
    flex: 1;
    min-width: 100px;
    /* width: 300px;
    position: fixed;
    top: 0;
    left: 0; */
    background-color:white;
    overflow-x: hidden;
    padding: 30px 40px 10px 40px;

}

#Container {
  /* border:3px solid white;  */
  display: flex;
  width: 100%;
  height: 100vh;
  /* color: white; */
  /* justify-content: center; */
  /* border-collapse: collapse; */
  /* margin: 50px; */
  /* margin-left:400px; */
}

#dataViz {
  /* border: 1px solid red; */
  flex: 4;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content {
  /* border: 3px solid gold; */
  display: flex;
  flex: 4;
}

.descr {
  flex: 1;
  padding-right: 50px;
  display: flex;
  align-items: center;

}


#viz {
  border: 1px solid white;
  height: 500px;
  width: 700px;
  margin: 50px;

}

#toggle {
  border: 1px solid white;
  height: 25px;
  width: 125px;
}


  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size: 26px; 
    line-height:36px;
    padding-bottom:50px;
    color:black;
      }

  h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height:24px;
    color:black;
  }    

  h2::first-letter{
    font-family: "NYTfont";
    color: black;
    font-size: 3em;
    float: left;
    padding-top: 8px;
    padding-right: 6px;
    padding-left: 3px;

  }

  h2::first-line {
    line-height: 100%;

  }

  @font-face {
    font-family: 'NYTfont';
    src:url('engraversoldenglishbt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'HNthin';
  src: url('HelveticaNeue-Thing.otf') format('.otf');
}

#sidebar p {
  font-family:'HNthin','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 18px;
  color: black;
  justify-content: center;

}

.descrContent{
  color: white;
  font-family:'HNthin','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 18px;

}
